#como_llegar_img{
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    height: auto;
}

.boton{
    display: inline-block;
    margin-top: 1%;
}

#lista_comollegar{
    text-align: left;
}

#lista_comollegar a.mas_info_cl {
    color: #000;
    text-decoration: none; 
}

#lista_comollegar a.mas_info_cl:hover {
    color: darkblue; 
    text-decoration: underline; 
}


#como_llegar_img{
    padding: 10px 20px;
    display: inline-block;
}