#lista_comollegar {
    margin: 0 auto;
    padding: 0;
    list-style: disc; 
    text-align: center; 
    width: fit-content; 
}

#lista_comollegar li {
    margin: 10px 0;
}

#lista_comollegar a.mas_info_cl {
    color: #000;
    text-decoration: none;
}

#lista_comollegar a.mas_info_cl:hover {
    color: darkblue;
    text-decoration: underline;
}
