.main-content {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 20px auto;
    background-color: white;
    width: 90%;
    text-align: center;
    display: block;
    max-width: 1200px;
    box-sizing: border-box;
}

.contact-form-section {
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
}

.contact-form-section h2 {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.contact-form button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.social-media {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin-right: 15px;
}

.social-media a:hover {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .contact-form-section {
        padding: 20px;
    }
}
