.fondo-galeria {
    background-color: #e6f2ff;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.galeria-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 20px auto;
    background-color: white;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    box-sizing: border-box;
}

.foto-galeria {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.foto-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 10px;
}

.foto-galeria:hover img {
    transform: scale(1.1);
}

/* Centra la última imagen entre las dos columnas */
.foto-galeria:last-child {
    grid-column: 1 / 3; /* Ocupa las dos columnas pero centrada */
    justify-self: center; /* Centra el contenedor dentro de la cuadrícula */
    align-self: center; /* Opcional: centra verticalmente si es necesario */
    width: 50%; /* Define el ancho como la mitad del contenedor de las dos columnas */
    height: 200px; /* Mantiene la altura fija */
}

@media screen and (max-width: 768px) {
    .galeria {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .foto-galeria:last-child {
        grid-column: span 1; /* Vuelve a ocupar una columna */
        width: 100%; /* Toma todo el ancho en pantallas pequeñas */
    }
}