body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #e6f2ff;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 20;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: auto;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px auto;
    background-color: white;
    width: 90%;
    text-align: center;
    display: block;
    max-width: 1200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
