body{
    background-color: #e6f2ff;
}


#detalle_tarifas{
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
}

#imagen_parque_tarifa{
    padding-top: 2%;
    margin: 15px auto;
    width: 90%;
    height: auto;
    border-radius: 8px;
    display: flex;
}


#detalle_tarifas {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    width: 90%; 
    text-align: center;
    display: block; 
}

#inf_tarifas{
    text-align: left;
    padding-bottom: 1%;
}

#mas_informacion{
    padding: 10px 5%;
    text-align: justify;
}

#mas_informacion h3{
    text-align: center;
}

#nota{
    font-weight: bold;
}







